table.wp-seo-post-meta-fields { width: 100%; }
.wp-seo-post-meta-fields th { padding: 3px; vertical-align: top; text-align: right; }
.wp-seo-post-meta-fields textarea { height: 4em; width: 98%; }
.wp-seo-post-meta-fields input { width: 98%; }
#tab-panel-formatting-tags h1 { font-size: 1.3em; margin: 1em 0; }
#tab-panel-formatting-tags .formatting-tag-name { font-family: monospace; }
.wp-seo-repeatable-field label { min-width: 80px; display: inline-block; font-style: italic; }
.wp-seo-delete { font-size: smaller; }

/* Display formatting tags in the help menu in two columns on shorter screens */
#tab-panel-formatting-tags .formatting-tags {
	-webkit-column-count: 2; -moz-column-count: 2; column-count: 2;
}
@media screen and (min-height: 992px) {
	#tab-panel-formatting-tags .formatting-tags {
		-webkit-column-count: 1; -moz-column-count: 1; column-count: 1;
	}
}
#tab-panel-formatting-tags .formatting-tag-wrapper {
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-o-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	column-break-inside: avoid;
}

#wp_seo_settings .accordion-section.search {
	/**
	 * Reset font size to the value normally inherited by `.accordion-section`.
	 * Otherwise, it inherits the base size given to `.search` in common.css.
	 */
	font-size: 13px;
}
